:global {
  @import 'base';
  @import 'vendor/normalize';

  .copper {
    display:inline-block;
    height: 7px;
    width: 8px;
    color: brown;
    background-image: url('//d34ou6gzeud9fg.cloudfront.net/images/main/sprites.png');
    background-size: 240px 500px;
      background-repeat: no-repeat;
      background-position: -61px -403px;
  }

  .silver {
    display:inline-block;
    height: 7px;
    width: 8px;
    color: silver;
    background-image: url('//d34ou6gzeud9fg.cloudfront.net/images/main/sprites.png');
    background-size: 240px 500px;
      background-repeat: no-repeat;
      background-position: -80px -403px;
  }

  .gold {
    display:inline-block;
    height: 7px;
    width: 8px;
    color: gold;
    background-image: url('//d34ou6gzeud9fg.cloudfront.net/images/main/sprites.png');
    background-size: 240px 500px;
      background-repeat: no-repeat;
      background-position: -101px -403px;
  }

  .money {
    display:inline-block;
    height: 7px;
    width: 8px;
    background-image: url('//d34ou6gzeud9fg.cloudfront.net/images/main/sprites.png');
    background-size: 240px 500px;
      background-repeat: no-repeat;
      background-position: -41px -403px;
  }

  .usermedal {
    color: white;
  }
}