:global {
  @import 'base';
  @import 'vendor/normalize';

  // Some best-practice CSS that's useful for most apps
  // Just remove them if they're not what you want
  html {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  .inline {
    display: inline;
  }
  .link {
    text-decoration: none;
  }
  .link:hover {
    color: #CC0000;
  }
  .btn {
    margin-left: 3px;
    margin-right: 3px;
  }
  .c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10, .c11, .c12, .c13, .c14, .c15, .c16, .c17, .c18, .c19, .c20, .c21, .c22, .c23, .c24, .c25, .c26, .c27, .c28, .c29, .c30, .c31, .c32, .c33, .c34, .c35, .c36, .c37, .c38, .c39, .c40, .c41, .c42, .c43, .c44, .c45, .c46, .c47, .c48, .c49, .c50, .c51, .c52, .c53, .c54, .c55, .c56, .c57, .c58, .c59, .c60, .c61, .c62, .c63, .c64, .c65, .c66, .c67, .c68, .c69, .c70, .c71, .c72, .c73, .c74, .c75, .c76, .c77, .c78, .c79, .c80, .c81, .c82, .c83, .c84, .c85, .c86, .c87, .c88, .c89, .c90, .c91, .c92, .c93, .c94, .c95, .c96, .c97, .c98, .c99, .c100 {
      position: relative;
      float: left;
      min-height: 1px;
      /*padding-right: 15px;*/
      /*padding-left: 15px;*/
  }
  .c1 { width: 1%; }.c2 { width: 2%; }.c3 { width: 3%; }.c4 { width: 4%; }.c5 { width: 5%; }.c6 { width: 6%; }.c7 { width: 7%; }.c8 { width: 8%; }.c9 { width: 9%; }.c10 { width: 10%; }.c11 { width: 11%; }.c12 { width: 12%; }.c13 { width: 13%; }.c14 { width: 14%; }.c15 { width: 15%; }.c16 { width: 16%; }.c17 { width: 17%; }.c18 { width: 18%; }.c19 { width: 19%; }.c20 { width: 20%; }.c21 { width: 21%; }.c22 { width: 22%; }.c23 { width: 23%; }.c24 { width: 24%; }.c25 { width: 25%; }.c26 { width: 26%; }.c27 { width: 27%; }.c28 { width: 28%; }.c29 { width: 29%; }.c30 { width: 30%; }.c31 { width: 31%; }.c32 { width: 32%; }.c33 { width: 33%; }.c34 { width: 34%; }.c35 { width: 35%; }.c36 { width: 36%; }.c37 { width: 37%; }.c38 { width: 38%; }.c39 { width: 39%; }.c40 { width: 40%; }.c41 { width: 41%; }.c42 { width: 42%; }.c43 { width: 43%; }.c44 { width: 44%; }.c45 { width: 45%; }.c46 { width: 46%; }.c47 { width: 47%; }.c48 { width: 48%; }.c49 { width: 49%; }.c50 { width: 50%; }.c51 { width: 51%; }.c52 { width: 52%; }.c53 { width: 53%; }.c54 { width: 54%; }.c55 { width: 55%; }.c56 { width: 56%; }.c57 { width: 57%; }.c58 { width: 58%; }.c59 { width: 59%; }.c60 { width: 60%; }.c61 { width: 61%; }.c62 { width: 62%; }.c63 { width: 63%; }.c64 { width: 64%; }.c65 { width: 65%; }.c66 { width: 66%; }.c67 { width: 67%; }.c68 { width: 68%; }.c69 { width: 69%; }.c70 { width: 70%; }.c71 { width: 71%; }.c72 { width: 72%; }.c73 { width: 73%; }.c74 { width: 74%; }.c75 { width: 75%; }.c76 { width: 76%; }.c77 { width: 77%; }.c78 { width: 78%; }.c79 { width: 79%; }.c80 { width: 80%; }.c81 { width: 81%; }.c82 { width: 82%; }.c83 { width: 83%; }.c84 { width: 84%; }.c85 { width: 85%; }.c86 { width: 86%; }.c87 { width: 87%; }.c88 { width: 88%; }.c89 { width: 89%; }.c90 { width: 90%; }.c91 { width: 91%; }.c92 { width: 92%; }.c93 { width: 93%; }.c94 { width: 94%; }.c95 { width: 95%; }.c96 { width: 96%; }.c97 { width: 97%; }.c98 { width: 98%; }.c99 { width: 99%; }.c100 { width: 100%; } 

  /*image gallery*/
  /*.sqs-gallery-design-autocolumns-slide{position:absolute}*/
  .sqs-gallery-design-autocolumns-slide img{width:100%;display:inline-block;-webkit-transition:opacity 1.2s;transition:opacity 1.2s;opacity:1}
  .sqs-gallery-design-autocolumns-slide img.loading{opacity:0}
  .sqs-gallery-design-autocolumns-slide.content-fit img, .sqs-gallery-design-autocolumns-slide .content-fit img{width:auto}
  .sqs-gallery-design-autocolumns-slide.slide-stretched img{height:100%}
  /*.wrapper{padding-bottom:100%;position:relative}*/

  #productGallery #productSlideshow{position:absolute;top:0;bottom:0;left:0;width:100%;background-color:#eee}
  #productGallery #productSlideshow .slide{height:100%;width:100%;overflow:hidden;cursor:pointer}
  #productGallery #productThumbnails{margin-left:-5px;visibility:hidden;overflow:hidden}
  #productGallery #productThumbnails .slide{width:50px;height:50px;margin:5px 0 0 5px;font-size:0;cursor:pointer;float:left;background-color:#eee}
  .product-gallery-size-11-square #productGallery .intrinsic .wrapper{padding-bottom:100%}
  .product-gallery-size-32-standard #productGallery .intrinsic .wrapper{padding-bottom:66.666%}
  .product-gallery-size-23-standard-vertical #productGallery .intrinsic .wrapper{padding-bottom:150%}
  .product-gallery-size-43-four-thirds #productGallery .intrinsic .wrapper{padding-bottom:75%}
  .product-gallery-size-169-widescreen #productGallery .intrinsic .wrapper{padding-bottom:56.25%}

  .item{-webkit-transform:translatez(0);-moz-transform:translatez(0);-ms-transform:translatez(0);-o-transform:translatez(0);transform:translatez(0);display:block;overflow:hidden}
  .item a{display:block;width:100%;height:100%;border-bottom:none}
  .item img{opacity:1;-webkit-transition:opacity 1.3s ease-out;-moz-transition:opacity 1.3s ease-out;-o-transition:opacity 1.3s ease-out;transition:opacity 1.3s ease-out}
  .item img.loading{opacity:0}
  .item .wrapper{position:absolute;display:table;z-index:100;top:0;left:0;width:100%;height:100%;line-height:24px;background-color:rgba(15,15,15,.3);opacity:0;filter:alpha(opacity=0);-webkit-transition:opacity 1.2s ease-out;-moz-transition:opacity 1.2s ease-out;-o-transition:opacity 1.2s ease-out;transition:opacity 1.2s ease-out}
  .hovering .wrapper{opacity:1;filter:alpha(opacity=100)}
  .item .wrapper{-webkit-transition:top 0.5s ease-out, left 0.5s ease-out, opacity 0.5s ease-out, -webkit-transform 0.5s ease-out;-moz-transition:top 0.5s ease-out, left 0.5s ease-out, opacity 0.5s ease-out, -webkit-transform 0.5s ease-out;-o-transition:top 0.5s ease-out, left 0.5s ease-out, opacity 0.5s ease-out, -webkit-transform 0.5s ease-out;transition:top 0.5s ease-out, left 0.5s ease-out, opacity 0.5s ease-out, -webkit-transform 0.5s ease-out}body.project-hover-zoom .loaded .item img{-ms-transform:scale(1);-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);transform:scale(1)}body.project-hover-zoom .loaded .item .wrapper{-ms-transform:scale(1.3);-webkit-transform:scale(1.3);-moz-transform:scale(1.3);-o-transform:scale(1.3);transform:scale(1.3)}body.project-hover-zoom .loaded .item.hovering img{-ms-transform:scale(1.5);-webkit-transform:scale(1.5);-moz-transform:scale(1.5);-o-transform:scale(1.5);transform:scale(1.5)}body.project-hover-zoom .loaded .item.hovering .wrapper{-ms-transform:scale(1);-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);transform:scale(1)}
  a div.wrapper div.project-title {display:none;vertical-align:bottom}
  a div.wrapper div.project-title-top-right {display:none;vertical-align:top}

   div.wrapper div.project-title {display:none;vertical-align:bottom}
   div.wrapper div.project-title-top-right {display:none;vertical-align:top}


  .hovering div.wrapper div.project-title {display:table-cell;vertical-align:bottom; text-align:left}
  .hovering div.wrapper div.project-title-top-right {display:table-cell;vertical-align:top; text-align:right}
  .item a div.wrapper div.project-title h2{color:#fff;font-size:15px;font-family:"Helvetica Neue",Helvetica,sans-serif;font-weight:normal;letter-spacing:0px;font-family:"brandon-grotesque";font-size:44px;line-height:1.4em;text-transform:none;letter-spacing:-1px;font-weight:300;font-style:normal;margin:0 0 10px;padding:0 24px}
  .item a div.wrapper div.project-title-top-right h2{color:#fff;font-size:15px;font-family:"Helvetica Neue",Helvetica,sans-serif;font-weight:normal;letter-spacing:0px;font-family:"brandon-grotesque";font-size:44px;line-height:1.4em;text-transform:none;letter-spacing:-1px;font-weight:300;font-style:normal;margin:0 0 10px;padding:0 24px}
  .item a div.wrapper div.project-title h3{color:#fff;margin-top:0;font-size:15px;font-family:Georgia,serif;font-weight:normal;font-style:italic;letter-spacing:0px;font-family:"proxima-nova";font-size:16px;line-height:1.4em;text-transform:none;letter-spacing:.05em;font-weight:400;font-style:normal;padding:0 24px}
  .item a div.wrapper div.project-title-top-right h3{color:#fff;margin-top:0;font-size:15px;font-family:Georgia,serif;font-weight:normal;font-style:italic;letter-spacing:0px;font-family:"proxima-nova";font-size:16px;line-height:1.4em;text-transform:none;letter-spacing:.05em;font-weight:400;font-style:normal;padding:0 24px}
  .item a div.wrapper div.project-title-top-right button{color:#fff;margin-top:0;font-size:15px;font-family:Georgia,serif;font-weight:normal;font-style:italic;letter-spacing:0px;font-family:"proxima-nova";font-size:16px;line-height:1.4em;text-transform:none;letter-spacing:.05em;font-weight:400;font-style:normal;padding:0 24px}
  .item a div.wrapper div.project-title h5{color:#ffffff;margin-top:0;font-size:12px;font-family:Georgia,serif;font-weight:normal;font-style:italic;letter-spacing:0px;font-family:"proxima-nova";font-size:12px;line-height:1.4em;text-transform:none;letter-spacing:.05em;font-weight:400;font-style:normal;padding:0 24px}
  .item a div.wrapper div.project-title-top-right h5{color:#ffffff;margin-top:0;font-size:12px;font-family:Georgia,serif;font-weight:normal;font-style:italic;letter-spacing:0px;font-family:"proxima-nova";font-size:12px;line-height:1.4em;text-transform:none;letter-spacing:.05em;font-weight:400;font-style:normal;padding:0 24px}

  .item div.wrapper div.project-title h2{color:#fff;font-size:15px;font-family:"Helvetica Neue",Helvetica,sans-serif;font-weight:normal;letter-spacing:0px;font-family:"brandon-grotesque";font-size:44px;line-height:1.4em;text-transform:none;letter-spacing:-1px;font-weight:300;font-style:normal;margin:0 0 10px;padding:0 24px}
  .item div.wrapper div.project-title-top-right h2{color:#fff;font-size:15px;font-family:"Helvetica Neue",Helvetica,sans-serif;font-weight:normal;letter-spacing:0px;font-family:"brandon-grotesque";font-size:44px;line-height:1.4em;text-transform:none;letter-spacing:-1px;font-weight:300;font-style:normal;margin:0 0 10px;padding:0 24px}
  .item div.wrapper div.project-title h3{color:#fff;margin-top:0;font-size:15px;font-family:Georgia,serif;font-weight:normal;font-style:italic;letter-spacing:0px;font-family:"proxima-nova";font-size:16px;line-height:1.4em;text-transform:none;letter-spacing:.05em;font-weight:400;font-style:normal;padding:0 24px}
  .item div.wrapper div.project-title-top-right h3{color:#fff;margin-top:0;font-size:15px;font-family:Georgia,serif;font-weight:normal;font-style:italic;letter-spacing:0px;font-family:"proxima-nova";font-size:16px;line-height:1.4em;text-transform:none;letter-spacing:.05em;font-weight:400;font-style:normal;padding:0 24px}
  .item div.wrapper div.project-title-top-right button{color:#fff;margin-top:0;font-size:15px;font-family:Georgia,serif;font-weight:normal;font-style:italic;letter-spacing:0px;font-family:"proxima-nova";font-size:16px;line-height:1.4em;text-transform:none;letter-spacing:.05em;font-weight:400;font-style:normal;padding:0 24px}
  .item div.wrapper div.project-title h5{color:#ffffff;margin-top:0;font-size:12px;font-family:Georgia,serif;font-weight:normal;font-style:italic;letter-spacing:0px;font-family:"proxima-nova";font-size:12px;line-height:1.4em;text-transform:none;letter-spacing:.05em;font-weight:400;font-style:normal;padding:0 24px}
  .item div.wrapper div.project-title-top-right h5{color:#ffffff;margin-top:0;font-size:12px;font-family:Georgia,serif;font-weight:normal;font-style:italic;letter-spacing:0px;font-family:"proxima-nova";font-size:12px;line-height:1.4em;text-transform:none;letter-spacing:.05em;font-weight:400;font-style:normal;padding:0 24px}


  .item .hovering img{-ms-transform:scale(1.02);-webkit-transform:scale(1.02);-moz-transform:scale(1.02);-o-transform:scale(1.02);transform:scale(1.02);}
  .item img {
  -webkit-transition-duration: 0.5s; /* Safari */
      transition-duration: 0.5s;
  }
  .wrapper{-webkit-transition:top .8s ease-out,left .8s ease-out,opacity .8s ease-out,-webkit-transform .8s ease-out;-moz-transition:top .8s ease-out,left .8s ease-out,opacity .8s ease-out,-webkit-transform .8s ease-out;-o-transition:top .8s ease-out,left .8s ease-out,opacity .8s ease-out,-webkit-transform .8s ease-out;transition:top .8s ease-out,left .8s ease-out,opacity .8s ease-out,-webkit-transform .8s ease-out}body.project-hover-zoom .loaded #grid .item .wrapper{-ms-transform:scale(1.01);-webkit-transform:scale(1.01);-moz-transform:scale(1.01);-o-transform:scale(1.01);transform:scale(1.01)}body.project-hover-zoom .loaded #grid .item.hovering img{-ms-transform:scale(1.02);-webkit-transform:scale(1.02);-moz-transform:scale(1.02);-o-transform:scale(1.02);transform:scale(1.02)}#project .gallery .gallery-item{margin-top:-37px}#project .project-item>.meta{padding-top:8px}.switcher{top:135px !important}#container-content{padding-top:0px !important}#navigator header#topBar ul#nav{max-width:58%;margin-left:2px}#navigator .siteTitle{margin-right:10px}
  .h100 {
    height: 100px;
  }
  .h250 {
    height: 250px;
  }
  .no-gutter [class*="-6"] {
    padding-left:0;
  }
  .no-gutter [class*="-3"] {
    padding-left:0;
  }
  .no-gutter [class*="-9"] {
    padding-left:0;
  }
  .no-gutter [class*="-4"] {
    padding-left:0;
    padding-right:0;
  }
  .no-gutter-2 [class*="-3"] {
    padding-right:0;
  }
  .no-gutter-2 [class*="-9"] {
    padding-left:0;
  }
  .twitter-share-button { vertical-align: text-bottom !important; margin-bottom: -2px}

  .margin-left-3px {
    margin-left: 3px;
  }
  .margin-right-3px {
    margin-right: 3px;
  }
  .margin-bottom-5px {
    margin-bottom: 5px;
  }
  .fixed-top-60px {
    position: fixed;
    top: 60px;
  }
  .navbar-initial {
    background-color: #FDFDFD;
  }

  /**
   * The geosuggest module
   */
  .geosuggest {
    font-size: 18px;
    font-size: 1rem;
    position: relative;
    width: 300px;
    margin: 1em auto;
    text-align: left;
    display: inline;
  }
  .geosuggest__input {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    /*text-align: center;*/
    white-space: nowrap;
    vertical-align: middle;
    background-image: none;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    width: 50%;

    /*width: 100%;
    border: 2px solid transparent;
    box-shadow: 0 0 1px #3d464d;
    padding: .5em 1em;
    -webkit-transition: border 0.2s, box-shadow 0.2s;
            transition: border 0.2s, box-shadow 0.2s;*/
  }
  .geosuggest__input:focus {
    border-color: #267dc0;
    box-shadow: 0 0 0 transparent;
  }
  .geosuggest__suggests {
    width: 800%;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    max-height: 25em;
    padding: 0;
    margin-top: 13px;
    background: #fff;
    border: 2px solid #267dc0;
    border-top-width: 0;
    overflow-x: hidden;
    overflow-y: auto;
    list-style: none;
    z-index: 5;
    -webkit-transition: max-height 0.2s, border 0.2s;
            transition: max-height 0.2s, border 0.2s;
  }
  .geosuggest__suggests--hidden {
    max-height: 0;
    overflow: hidden;
    border-width: 0;
  }

  /**
   * A geosuggest item
   */
  .geosuggest-item {
    font-size: 18px;
    font-size: 1rem;
    padding: .5em .65em;
    cursor: pointer;
    width: 100%;
  }
  .geosuggest-item:hover,
  .geosuggest-item:focus {
    background: #f5f5f5;
  }
  .geosuggest-item--active {
    background: #267dc0;
    color: #fff;
  }
  .geosuggest-item--active:hover,
  .geosuggest-item--active:focus {
    background: #ccc;
  }

  .site {
    margin-left: 60px;
    margin-top: 100px;
  }
  .parentstats .ReactTags__tagInput {
    display: none;
  }
  .quotefont {
    font-family: Inconsolata, "Courier New", Courier, monospace;  
  }
  .hide {
    display: none;
  }

}
